body {
    font-family: Arial, sans-serif;
    background-color: cornflowerblue;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.social-links {
    margin-top: 20px;
}

.social {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.instagram {
    background-color: #E1306C;
}

.instagram:hover {
    background-color: #C13584;
}

.facebook {
    background-color: #4267B2;
}

.facebook:hover {
    background-color: #365899;
}
